<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= `bryclee${ locals.title ? `- ${title}` : ''}` %></title>

    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <% if (locals.styles) { %>
      <% locals.styles.forEach(style => { %>
        <link rel="stylesheet" href="<%- style %>">
      <% }) %>
    <% } %>
  </head>
  <body>
    <header class="header-bar">
      <div class="header-bar-fill fixed">
        <div class="fixed" id="header-banner">
          <a href="/"><span class="fill-parent"></span></a>
        </div>
      </div>
      <script src="/static/js/name.bundle.js"></script>
    </header>

    <main>
      <% if (locals.template) { %>
        <%- template %>
      <% } else if (locals.templatePath) { %>
        <%- include(templatePath, templateData) %>
      <% } %>

      <% if (locals.scripts) { %>
        <% locals.scripts.forEach(script => { %>
          <script src="<%- script %>"></script>
        <% }) %>
      <% } %>
    </main>
  </body>
</html>
